* {
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

main {
  text-align: center;
}

main img {
  height: 400px;
  border-radius: 1rem;
  border: 2px dotted #000000;
}

main h1, main h2 {
  text-shadow: 3px 0 white, -3px 0 white, 0 3px white, 0 -3px white, 2px 2px white, -2px -2px white, 2px -2px white, -2px 2px white;
}

main p {
  background-color: #ffffff;
  padding: 2rem;
  font-size: 1.5rem;
  margin: 1rem;
  margin-left: 10rem;
  margin-right: 10rem;
  text-align: justify;
  border: 2px dotted #000000;
}

main button {
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  background-color: #41992b;
  color: #ffffff;
  border: 2px solid #000000;
  border-radius: 5rem;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1.8rem;
  margin: 2rem;
  cursor: pointer;
}

main button:hover {
  background-color: #51bd35;
}

/* width: menor que 768px */
@media only screen and (max-width: 768px) {
  main p {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  main img {
  width: 90%;
  height: 100%;
  }
}

/* width: menor que 480px */
@media only screen and (max-width: 480px) {
  main button {
  background-color: #41992b;
  border-radius: 5rem;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1.5rem;
  margin: 1.5rem;
  cursor: pointer;
  }

  main p {
  font-size: 1.2rem;
  }
}