/* Header */
nav {
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

#logo a {
  color: #000000;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 0.7rem;
  margin: 0.3rem;
  font-size: 1.3rem;
  font-family: 'Satisfy', cursive;
}

#logo img {
  width: 75px;
}

#mobile-menu-icon {
  display: none;
  background-color: #ffffff;
  color: #000000;
  border: 0;
  cursor: pointer;
  margin-left: 0.5rem;
  font-size: 2.5rem;
}

#mobile-login-icon {
  display: none;
}

#mobile-login-icon a {
  color: #000000;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
}

#mobile-login-icon p {
  font-size: 0.6rem;
}
  
#botoes-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-right: 0.3rem;
}

.botao-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.botao-menu a {
  border-bottom: 2px solid #000000;
  color: #000000;
  padding: 0.5rem;
  margin: 0.5rem;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 0.3rem;
}

.botao-menu a:hover {
  background-color: #d6e6f5;
  color: #000000;
}

#login a {
  background-color: #41992b;
  color: #ffffff;
  border: 2px solid #000000;
  border-radius: 1rem;
}

#login a:hover {
  background-color: #51bd35;
}

.botao-menu-mobile {
  display: none;
  color: #000000;
}

#botoes-menu i, #botoes-menu-mobile i {
  margin-left: 0.3rem;
}

#banner {
  width: 100%;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

/* Footer */
footer {
  background-color: #111111;
  color: #ffffff;
  padding: 1rem;
}

#btn-projeto {
  background-color: #111111;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5rem;
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
}

#projeto {
  display: none;
}
  
#projeto li {
  margin-bottom: 0.5rem;
}

.fa-seedling {
  color: #12b700;
}

.fa-file-code {
  color: #f0db4f;
}

.fa-ubuntu {
  color: #dd4814;
}

/* width: menor que 1024px */
@media only screen and (max-width: 1024px) {
  nav {
    flex-direction: column;
    padding-bottom: 0.2rem;
  }
}

/* width: entre 768px e 480px */
@media only screen and (max-width: 768px) {
  nav {
    flex-direction: row;
    height: 5rem;
  }
    
  #botoes-menu {
    display: none;
  }

  #mobile-menu {
    display: none;
  }
  
  #mobile-menu-icon {
    display: block;
  }

  #mobile-login-icon {
    display: block;
  }
  
  #botoes-menu-mobile {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-right: 0.3rem;
  }
  
  .botao-menu-mobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #botoes-menu-mobile a {
    background-color: #ffffff;;
    color: #000000;
    padding: 0.8rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    border-top: solid 2px #000000;
  }
  
  #botoes-menu-mobile a:hover {
    background-color: #d6e6f5;
    color: #000000;
  }

  #botoes-menu-mobile i {
    margin-left: 0.3rem;
  }
}

/* width: abaixo de 480px */
@media only screen and (max-width: 350px) {
  #logo img {
    width: 50px;
  }
  
  #mobile-menu-icon {
    font-size: 2rem;
  }
  
  #mobile-login-icon a{
    font-size: 1.5rem;
  }

  #mobile-login-icon p{
    font-size: 0.6rem;
  }
}