* {
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
}

main {
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-top: -0.5rem;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

#titulo {
  text-shadow: 3px 0 #ffffff, -3px 0 #ffffff, 0 3px #ffffff, 0 -3px #ffffff, 2px 2px #ffffff, -2px -2px #ffffff, 2px -2px #ffffff, -2px 2px #ffffff;
}

#filtro {
  background-color: #ffffff;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 1rem;
}

.item-filtro {
  width: 5rem;
  height: 2rem;
  border: 2px solid #000000;
  margin: 0.3rem;
  cursor: pointer;
  border-radius: 1rem;
}

#filtro-cr {
  background-color: #ff0000;
}

#filtro-en {
  background-color: #ffa500;
}

#filtro-vu {
  background-color: #ffff00;
}

#filtro-dd {
  background-color: #e1e1e1;
}

#limpar-filtros {
  border-radius: 1rem;
  width: 10rem;
  margin: 0.4rem;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.8rem;
}

.tartaruga {
  background-color: #cfeef3;
  border: 2px solid #000000;
  border-radius: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 1rem;
  font-size: 1.2rem;
}

.tartaruga h1 {
  margin-bottom: 1rem;
}

.tartaruga img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: 4px dotted #000000;
}

.info-tartaruga {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  list-style-type: disc;
}

.info-tartaruga li {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
  
.cr-logo a {
  color: #ff0000;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  text-decoration: none;
}

.en-logo a {
  color: #ffa500;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  text-decoration: none;
}

.vu-logo a {
  color: #ffff00;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  text-decoration: none;
}

.dd-logo a {
  color: #e1e1e1;
  text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000, 1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
  text-decoration: none;
}
  
/* width: menor que 1024px */
@media only screen and (max-width: 1024px) {
  .tartaruga img {
    width: 40%;
    height: 40%;
  }

  .info-tartaruga {
    width: 60%;
  }
}

/* width: menor que 768px */
@media only screen and (max-width: 768px) {
  .tartaruga {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .tartaruga img {
    width: 70%;
    height: 70%;
  }

  .tartaruga h1 {
    margin-top: 1rem;
  }
  
  .info-tartaruga {
    width: 100%;
  }
}

/* width: abaixo de 480px */
@media only screen and (max-width: 480px) {
  .tartaruga img {
    width: 100%;
    height: 100%;
  }
}

/* width: abaixo de 400px */
@media only screen and (max-width: 400px) {
  .item-filtro {
  width: 4rem;
  margin: 0.1rem;
  }
}